<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbYZDaMfTA77nwojie7RK_5_kuUm07nbU</string>
	<key>GCM_SENDER_ID</key>
	<string>764702856261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keith.finalyear.someRide</string>
	<key>PROJECT_ID</key>
	<string>simbula-273cb</string>
	<key>STORAGE_BUCKET</key>
	<string>simbula-273cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764702856261:ios:252f1190af0795e564ff2c</string>
</dict>
</plist>